<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
    <listener class-name="rahulshttyacademy.testcomponent.Listeners"/>
</listeners>


  <test thread-count="5" name="SubmitOrderTest">
    <classes>
      <class name="jitendrajoshi.SubmitOrderTest"/>
      <class name="jitendrajoshi.ErrorMessage"></class>
      <class name="rahulshttyacademy.testcomponent.Retry"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
